body{
    font-family: 'Courier New', Courier, monospace;
    color: #6A6666;
    background-color: lightgray;
}
.todo-cntnr{
    height: auto;
    width: 800px;
    margin: auto;
    background-color: white;
}
.border-below{
    border-bottom: 1px solid rgb(170, 162, 162);
}
.heading{
    text-align: center;
    font-size: 50px;
    font-weight: 550;
    
}

.descrip-cntnr{
    height: 80px;
    padding: 5px;
}
.bold{
    font-weight: bold;
}
#descrip-text{
    outline: none;
    border: none;
    width: 100%;
    word-spacing: 2px;
    height: 40px;
}
#descrip-text::placeholder{
    font-weight: 100;
    color: rgba(84, 87, 87, 0.651);
}

.category-cntnr{
    display: inline-block;
    width: 46.7%;
    height: 80px;
    padding: 10px;
    border-left: 1px solid rgb(170, 162, 162);
}

#duedate-cntnr{
   vertical-align: top;
    
}

.date-picker input{
    height: 50px;
    border: none;
    text-align: center;
    width: 100%;
}
.button-cntnr{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.tasks-cntnr ul{
    list-style-type: none;
}

.tasks-cntnr ul li{
    margin-bottom: 1em;
}
li input{
    display: inline-block;
}
.label-cntnr-cntnr{
    width: 90%;
    display: inline-block;
}
.label-cntnr{
    
    /* display: inline-block; */
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    vertical-align: top;
}
.task-details-cntnr{
    
    display: flex;
    justify-content: space-around;
}
.desc-date-cntnr{
    display: inline-block;
    
}
.task-desc{
    font-weight: bold;
    font-size: 20px;
    /* display: inline-block; */
    margin-bottom: 10px;
    
}

.task-category{
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 2px;
    font-size: 20px;
}
.home{
    background-color: orange;
}
.work{
    background-color: purple;
}
.school{
    background-color: royalblue;
}
.task-date{
    /* display: inline-block; */
    margin-bottom: 10px;
}

.hidden{
    display: none;
}


.btn{
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}

.btn div{
    margin-left: 10px;
    display: inline-block;
    
}

#add-task-btn{
    background-color: black;
}

#delete-task-btn{
    background-color: red;
}



/*-------------Custom Checkboxes-----------*/

li input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  li label {
    position: relative;
    cursor: pointer;
    
  }
  
  li label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #07090a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  li input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  li input:checked + label:before {
    background: #07090a;
  } 